*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
#canvas{
    border:3px solid black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 500px;
    font-family: 'Creepster', cursive;
}

.controls{
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
 
}

.controls button{
    padding: 10px 15px;
    border: none;
    background-color: blue;
    border-radius: 12px;
    cursor: pointer;
   
}

#layer1,#layer2,#layer3,#layer4,#layer5,#fly,#plant,#bigSpider,#fire,#boom,#heart{
    display: none;
}